settings:
  - path: extension_dirs
    initialization_description: Where can extensions be loaded from?
    strategy: merge
    init: true
    type: path
    is_project: false
    values:
      - src/
      - extension/
      - extension/SprykerSdk
  - path: task_dirs
    initialization_description: Where can tasks be loaded from?
    strategy: merge
    init: true
    type: path
    is_project: false
    values:
      - src/Extension/Tasks
  - path: setting_dirs
    initialization_description: Where can settings be loaded from?
    strategy: merge
    init: true
    type: path
    is_project: false
    values:
      - src/Extension/Setting
  - path: value_resolver_dirs
    initialization_description: Where can value resolvers be loaded from?
    strategy: merge
    init: true
    type: path
    is_project: false
    values:
      - src/Extension/ValueResolver
  - path: converter_dirs
    initialization_description: Where can converter be loaded from?
    strategy: merge
    init: true
    type: path
    is_project: false
    values:
      - src/Extension/Converters
  - path: sdk_dir
    initialization_description: Where is the sdk directory?
    strategy: overwrite
    init: true
    is_project: false
    type: path
    values: "./"
  - path: project_dir
    initialization_description: Where is the project directory?
    strategy: overwrite
    init: false
    is_project: true
    type: path
    values: "./"
  - path: report_usage_statistics
    initialization_description: Do you agree to send anonymous usage reports to help improving the SDK?
    strategy: overwrite
    init: true
    is_project: true
    type: boolean
    values: false
  - path: coreNamespaces
    initialization_description: Do you approve core namespaces?
    strategy: merge
    init: false
    is_project: true
    type: string
    values:
      - SprykerShop
      - SprykerEco
      - Spryker
      - SprykerSdk
  - path: projectNamespaces
    initialization_description: Do you approve project namespaces?
    strategy: merge
    init: false
    is_project: true
    type: string
    values:
      - Pyz
  - path: projectNamespace
    initialization_description: Do you approve project namespace?
    strategy: merge
    init: false
    is_project: true
    type: string
    values: Pyz
  - path: report_dir
    initialization_description: Where is the project report directory?
    strategy: overwrite
    init: false
    is_project: true
    type: path
    values: "./.ssdk/reports/"
    initializer: create_directory_initializer
  - path: project_key
    initialization_description: What is the project unique key?
    strategy: overwrite
    init: true
    is_project: true
    type: uuid
    values: ""
    initializer: project_uuid_initializer
  - path: workflow
    initialization_description: What is the project workflow?
    strategy: merge
    init: true
    is_project: true
    type: array
    initializer: project_workflow_initializer
    values: []

