services:
  question_helper:
    class: Symfony\Component\Console\Helper\SymfonyQuestionHelper
  init_sdk_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Commands\InitSdkCommand
    tags: ['console.command']
    arguments:
      - '@cli_value_receiver'
      - '@setting_repository'
      - '@doctrine.database_create_command'
      - '@doctrine_migrations.migrate_command'
      - '@yaml_parser'
      - '%kernel.project_dir%/src/SprykerSdk/Sdk/Extension/Settings/settings.yaml'
      - '@service.task_manager'
      - '@task_repository'

  init_project_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Commands\InitProjectCommand
    tags: ['console.command']
    arguments:
      - '@cli_value_receiver'
      - '@project_setting_manager'
      - '@setting_repository'
      - '%project_settings_file%'
  setting_set_command:
    class: SprykerSdk\Sdk\Presentation\Console\Commands\SettingSetCommand
    tags: ['console.command']
    arguments:
      - '@project_setting_repository'
      - '@project_setting_manager'

  update_command:
    class: SprykerSdk\Sdk\Presentation\Console\Commands\UpdateCommand
    tags: ['console.command']
    arguments:
      - '@process_helper'
      - '@service.lifecycle_manager'
