services:
  file_finder:
    class: Symfony\Component\Finder\Finder
  event_logger_factory:
    class: SprykerSdk\Sdk\Infrastructure\Service\EventLoggerFactory
    arguments:
      - '@project_setting_repository'
  event_logger:
    class: SprykerSdk\Sdk\Infrastructure\Service\EventLogger
    factory: ['@event_logger_factory', 'createEventLogger']
  progress_bar:
    class: SprykerSdk\Sdk\Infrastructure\Service\ProgressBar
    tags:
      - { name: kernel.event_listener, event: console.command, method: initProgressBar }
  setting_repository:
    class: SprykerSdk\Sdk\Infrastructure\Repository\SettingRepository
    arguments:
      - '@doctrine.orm.entity_manager'
      - '@path_resolver'
  project_setting_repository:
    class: SprykerSdk\Sdk\Infrastructure\Repository\ProjectSettingRepository
    arguments:
      - '@setting_repository'
      - '@yaml_parser'
      - '%project_settings_file%'
  yaml_parser:
    class: Symfony\Component\Yaml\Yaml
  task_repository:
    public: true
    class: SprykerSdk\Sdk\Infrastructure\Repository\TaskYamlRepository
    arguments:
      - '@setting_repository'
      - '@file_finder'
      - '@yaml_parser'
      - !tagged_iterator sdk.task
  process_helper:
    class: Symfony\Component\Console\Helper\ProcessHelper
  local_cli_command_runner:
    class: SprykerSdk\Sdk\Infrastructure\Service\LocalCliRunner
    tags: ['command.runner']
    arguments:
      - '@process_helper'
      - '@progress_bar'
  php__command_runner:
    class: SprykerSdk\Sdk\Infrastructure\Service\PhpCommandRunner
    tags: ['command.runner']
  cli_value_receiver:
    class: SprykerSdk\Sdk\Infrastructure\Service\CliValueReceiver
    arguments:
      - '@question_helper'
  cli_value_receiver_setup_listener:
    class: SprykerSdk\Sdk\Infrastructure\Event\CliReceiverSetupListener
    tags:
      - { name: kernel.event_listener, event: console.command, method: beforeConsoleCommand }
    arguments:
      - '@cli_value_receiver'
  cli_runner_setup_listener:
    class: SprykerSdk\Sdk\Infrastructure\Event\CliRunnerSetupListener
    tags:
      - { name: kernel.event_listener, event: console.command, method: beforeConsoleCommand }
    arguments:
      - '@local_cli_command_runner'
  php_command_runner_runner_setup_listener:
    class: SprykerSdk\Sdk\Infrastructure\Event\PhpCommandRunnerSetupListener
    tags:
      - { name: kernel.event_listener, event: console.command, method: beforeConsoleCommand }
    arguments:
      - '@php__command_runner'
  value_receiver:
    alias: 'cli_value_receiver'
  autoloader_service:
      class: SprykerSdk\Sdk\Infrastructure\Service\AutoloaderService
      arguments:
        - '%kernel.project_dir%'
  value_resolver_registry:
    class: SprykerSdk\Sdk\Infrastructure\Service\ValueResolverRegistry
    arguments:
      - '@setting_repository'
      - '@value_receiver'
      - !tagged_iterator sdk.value_resolver
      - '@autoloader_service'
      - '%kernel.project_dir%'
