doctrine_migrations:
  # List of namespace/path pairs to search for migrations, at least one required
  migrations_paths:
    'App\Migrations': '%kernel.project_dir%/src/App/Migrations'

  # Entity manager to use for migrations. This overrides the "connection" setting.
  em: default

  storage:
    # Default (SQL table) metadata storage configuration
    table_storage:
      table_name: 'doctrine_migration_versions'
      version_column_name: 'version'
      version_column_length: 192
      executed_at_column_name: 'executed_at'

  # Possible values: "BY_YEAR", "BY_YEAR_AND_MONTH", false
  organize_migrations: false

  # Run all migrations in a transaction.
  all_or_nothing: false

  # Adds an extra check in the generated migrations to ensure that is executed on the same database type.
  check_database_platform: false

  # Whether or not to wrap migrations in a single transaction.
  transactional: true