framework:
  workflows:
    default:
      type: workflow
      marking_store:
        type: method
        property: status
      metadata:
        run: single
      supports:
        - SprykerSdk\SdkContracts\Entity\WorkflowInterface
      initial_marking: codestyle
      places:
        - codestyle
        - phstan-check
        - done
      transitions:
        check:
          from: codestyle
          to: phstan-check
          metadata:
            task: validation:php:codestyle-check
        fix:
          from: codestyle
          to: phstan-check
          metadata:
            task: validation:php:static
        phpstan:
          from: phstan-check
          to: done
          metadata:
            task: validation:php:static
    app:
      type: state_machine
      marking_store:
        type: method
        property: status
      supports:
        - SprykerSdk\SdkContracts\Entity\WorkflowInterface
      initial_marking: start
      places:
        - start
        - app-skeleton
        - manifest
        - config
        - translation
        - acp-validated
        - openapi
        - openapi-validated
        - asyncapi-created
        - asyncapi-message-added
        - asyncapi-validated
        - asyncapi-generate
        - app-validate
        - app-validated
      transitions:
        CreateAppSkeleton:
            from: start
            to: app-skeleton
            metadata:
              task: generate:php:app
        CreateManifest:
          from: app-skeleton
          to: manifest
          metadata:
            task: acp:manifest:create
        CreateConfiguration:
          from: manifest
          to: config
          metadata:
            task: acp:config:create
        CreateTranslation:
          from: config
          to: translation
          metadata:
            task: acp:translation:create
        ValidateACP:
          from: translation
          to: acp-validated
          metadata:
            task: acp:app:validate
            error: Now you need to fix manually and continue with the workflow afterwards.
        CreateOpenApi:
          from: acp-validated
          to: openapi
          metadata:
            task: acp:openapi:create
        ValidateOpenApi:
          from: openapi
          to: openapi-validated
          metadata:
            task: acp:openapi:validate
            error: Now you need to fix manually and continue with the workflow afterwards.
        GenerateOpenApi:
          from: openapi-validated
          to: app-validate
          metadata:
            task: acp:openapi:generate
        CreateAsyncapi:
          from: app-validate
          to: asyncapi-created
          metadata:
            task: acp:asyncapi:create
        AddMessageIntoAsyncapi:
          from: asyncapi-created
          to: asyncapi-message-added
          metadata:
            task: acp:asyncapi:message-add
        ValidateAsyncapi:
          from: asyncapi-message-added
          to: asyncapi-validated
          metadata:
            task: acp:asyncapi:validate
            error: Now you need to fix manually and continue with the workflow afterwards.
        GenerateAsyncapiCode:
          from: asyncapi-validated
          to: asyncapi-generate
          metadata:
            task: acp:asyncapi:generate
        ValidateApp:
          from: [app-validate, app-validated, asyncapi-generate]
          to: app-validated
          metadata:
            task: acp:app:validate
            error: Now you need to fix manually and continue with the workflow afterwards.

