parameters:
  local_executable_file_path: '"$PhpExecutable$" %kernel.project_dir%/bin/console'
  executable_file_path: '%env(default:local_executable_file_path:EXECUTABLE_FILE_PATH)%'
  host_sdk_dir: '%env(default:kernel.project_dir:SDK_DIR)%'
  manifest_default_task_yaml_dir: 'src/Extension/Resources/config/task/'
  manifest_default_task_php_dir: 'src/Extension/Task/'
services:
  question_helper:
    class: Symfony\Component\Console\Helper\SymfonyQuestionHelper

  validate_task_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\Validator\ValidateTaskCommand
    tags: [ "console.command" ]
    arguments:
      - "@task_yaml_collector"

  init_sdk_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Command\InitSdkCommand
    tags: [ "console.command" ]
    arguments:
      - "%kernel.project_dir%"
      - "@process_helper"
      - "@yaml_parser"
      - "%sdk_settings%"
  init_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Command\InitCommand
    tags: [ "console.command" ]
    arguments:
      - "@initializer_service"
      - "@yaml_parser"
      - "%sdk_settings%"
  run_workflow_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Command\RunWorkflowCommand
    tags: [ "console.command", "telemetry.observable_command" ]
    arguments:
      - "@project_workflow"
      - "@cli_interaction_processor"
      - "@workflow_runner"
      - "@context_factory"
      - "@setting.setting_fetcher"
      - "%project_settings_file%"
      - "%project_local_settings_file%"
  qa_automation_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Command\QaAutomationCommand
    tags:
        - name: 'console.command'
          command: !php/const SprykerSdk\Sdk\Presentation\Console\Command\QaAutomationCommand::NAME
        - 'telemetry.observable_command'
    arguments:
      - "@task_executor"
      - "@project_workflow"
      - "@context_repository"
      - "@project_setting_repository"
      - "@context_factory"
      - "@dynamic_task_set_creator"
  list_workflow_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\ListWorkflowCommand
    tags: ["console.command"]
    arguments:
      - "@project_workflow"
  show_workflow_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\ShowWorkflowCommand
    tags: [ "console.command" ]
    arguments:
      - "@project_workflow"
      - "@cli_interaction_processor"
      - "%kernel.project_dir%/var/workflow"
      - "%host_sdk_dir%/var/workflow"
  init_project_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Command\InitProjectCommand
    tags:
        - name: 'console.command'
          command: !php/const SprykerSdk\Sdk\Presentation\Console\Command\InitProjectCommand::NAME
        - 'telemetry.observable_command'
    arguments:
      - "@cli_interaction_processor"
      - "@setting_repository"
      - "@project_settings_initializer"

  setting_set_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\SettingSetCommand
    tags: ["console.command"]
    arguments:
      - '@project_setting_repository'
      - '@project_setting_manager'
  update_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\UpdateCommand
    tags:
        - name: 'console.command'
          command: !php/const SprykerSdk\Sdk\Presentation\Console\Command\UpdateCommand::NAME
        - 'telemetry.observable_command'
    arguments:
      - "@service.lifecycle_manager"
      - "@initializer_service"
  update_sdk_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\UpdateSdkCommand
    tags: ["console.command", "telemetry.observable_command"]
    arguments:
      - "%kernel.project_dir%"
      - "@process_helper"
  install_private_sdk_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\InstallSdkBundlesCommand
    tags: [ "console.command" ]
    arguments:
      - "@service.tasks_repository_installer"
      - '%kernel.project_dir%'
      - "@event_logger"
  create_phpstorm_config_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\CreatePhpStormConfig
    tags: ["console.command", "telemetry.observable_command"]
    arguments:
      - "@ide.config_manager"

  ide.config_manager:
    class: SprykerSdk\Sdk\Presentation\Ide\PhpStorm\Service\ConfigManager
    arguments:
      - "@ide.command_loader"
      - "@ide.command_xml_formatter"
      - "@xml_encoder"
      - "@setting_repository"
      - "%executable_file_path%"

  ide.command_loader:
    class: SprykerSdk\Sdk\Presentation\Ide\PhpStorm\Service\CommandLoader
    arguments:
      - !tagged_iterator telemetry.observable_command
      - "@console.command_loader"
      - "@task_persistence_repository"
  ide.command_xml_formatter:
    class: SprykerSdk\Sdk\Presentation\Ide\PhpStorm\Formatter\CommandXmlFormatter

  xml_encoder:
    class: Symfony\Component\Serializer\Encoder\XmlEncoder
    arguments:
      - { xml_format_output: true, xml_root_node_name: framework }
  # Integrations
  security_checker_command:
    class: SecurityChecker\Command\SecurityCheckerCommand
    tags: ["console.command", "telemetry.observable_command"]
  composer_replace_command:
    class: SprykerSdk\Zed\ComposerReplace\Communication\Console\ComposerReplaceConsole
    tags: [ "console.command", "telemetry.observable_command"]

  # Manifests
  manifest.task_generator_command:
      class: SprykerSdk\Sdk\Presentation\Console\Command\GenerateTaskCommand
      arguments:
          - "@manifest.interaction.processor"
          - "@manifest.task_interaction_map"
          - "@manifest.task_manifest_dto_factory"
          - "@manifest.task_manifest_generator"
      tags: ["console.command"]

  manifest.task_interaction_map:
      class: SprykerSdk\Sdk\Presentation\Console\Manifest\Task\TaskInteractionMap
      arguments:
          - "%manifest_default_task_yaml_dir%"
          - "%manifest_default_task_php_dir%"

  manifest.task_manifest_dto_factory:
      class: SprykerSdk\Sdk\Presentation\Console\Manifest\Task\TaskManifestRequestDtoFactory
