parameters:
  local_executable_file_path: '"$PhpExecutable$" %kernel.project_dir%/bin/console'
  executable_file_path: '%env(default:local_executable_file_path:EXECUTABLE_FILE_PATH)%'
services:
  question_helper:
    class: Symfony\Component\Console\Helper\SymfonyQuestionHelper
  init_sdk_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Command\InitSdkCommand
    tags: [ "console.command" ]
    arguments:
      - "%kernel.project_dir%"
      - "@process_helper"
      - "@yaml_parser"
      - "%kernel.project_dir%/src/Extension/Settings/settings.yaml"
  init_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Command\InitCommand
    tags: [ "console.command" ]
    arguments:
      - "@initializer_service"
      - "@doctrine_migrations.migrate_command"
      - "@yaml_parser"
      - "%kernel.project_dir%/src/Extension/Settings/settings.yaml"
  run_workflow_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Command\RunWorkflowCommand
    tags: [ "console.command" ]
    arguments:
      - "@project_workflow"
      - "@cli_value_receiver"
      - "@workflow_runner"
  list_workflow_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\ListWorkflowCommand
    tags: ["console.command"]
    arguments:
      - "@project_workflow"
  show_workflow_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\ShowWorkflowCommand
    tags: [ "console.command" ]
    arguments:
      - "@project_workflow"
      - "@cli_value_receiver"
      - "%project_settings_file%"
      - "%kernel.project_dir%"
  init_project_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Command\InitProjectCommand
    tags: ["console.command"]
    arguments:
      - "@cli_value_receiver"
      - "@project_setting_manager"
      - "@setting_repository"
      - "@service_container"
      - "%project_settings_file%"
  setting_set_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\SettingSetCommand
    tags: ["console.command"]
    arguments:
      - "@project_setting_repository"
      - "@project_setting_manager"
  update_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\UpdateCommand
    tags: ["console.command"]
    arguments:
      - "@service.lifecycle_manager"
      - "@setting_repository"
      - "@doctrine_migrations.migrate_command"
  update_sdk_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\UpdateSdkCommand
    tags: ["console.command"]
    arguments:
      - "%kernel.project_dir%"
      - "@process_helper"
  install_private_sdk_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\InstallSdkBundlesCommand
    tags: [ "console.command" ]
    arguments:
      - "@service.tasks_repository_installer"
      - '%kernel.project_dir%'
      - "@event_logger"
  create_phpstorm_config_command:
    class: SprykerSdk\Sdk\Presentation\Console\Command\CreatePhpStormConfig
    tags: ["console.command"]
    arguments:
      - "@ide.config_manager"

  ide.config_manager:
    class: SprykerSdk\Sdk\Presentation\Ide\PhpStorm\Service\ConfigManager
    arguments:
      - "@ide.command_loader"
      - "@ide.command_xml_formatter"
      - "@xml_encoder"
      - "@setting_repository"
      - "%executable_file_path%"

  ide.command_loader:
    class: SprykerSdk\Sdk\Presentation\Ide\PhpStorm\Service\CommandLoader
    arguments:
      - !tagged_iterator console.command
      - "@console.command_loader"
      - "@task_persistence_repository"
  ide.command_xml_formatter:
    class: SprykerSdk\Sdk\Presentation\Ide\PhpStorm\Formatter\CommandXmlFormatter

  xml_encoder:
    class: Symfony\Component\Serializer\Encoder\XmlEncoder
    arguments:
      - { xml_format_output: true, xml_root_node_name: framework }
  # Integrations
  security_checker_command:
    class: SecurityChecker\Command\SecurityCheckerCommand
    tags: ["console.command"]
  composer_replace_command:
    class: SprykerSdk\Zed\ComposerReplace\Communication\Console\ComposerReplaceConsole
    tags: [ "console.command" ]
  brancho_commit_command:
    class: SprykerSdk\Sdk\Extension\Commands\CommitCommand
    tags: ["console.command"]
  brancho_branch_builder_command:
    class: SprykerSdk\Sdk\Extension\Commands\BranchBuilderCommand
    tags: ["console.command"]
