services:
  question_helper:
    class: Symfony\Component\Console\Helper\SymfonyQuestionHelper
  init_sdk_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Commands\InitSdkCommand
    tags: ['console.command']
    arguments:
      - '@cli_value_receiver'
      - '@setting_repository'
      - '@doctrine_migrations.migrate_command'
      - '@yaml_parser'
      - '%kernel.project_dir%/src/Extension/Settings/settings.yaml'
      - '@service.task_manager'
      - '@task_repository'

  init_project_command:
    autowire: false
    class: SprykerSdk\Sdk\Presentation\Console\Commands\InitProjectCommand
    tags: ['console.command']
    arguments:
      - '@cli_value_receiver'
      - '@project_setting_manager'
      - '@setting_repository'
      - '@service_container'
      - '%project_settings_file%'
  setting_set_command:
    class: SprykerSdk\Sdk\Presentation\Console\Commands\SettingSetCommand
    tags: ['console.command']
    arguments:
      - '@project_setting_repository'
      - '@project_setting_manager'
  update_command:
    class: SprykerSdk\Sdk\Presentation\Console\Commands\UpdateCommand
    tags: ['console.command']
    arguments:
      - '@process_helper'
      - '@service.lifecycle_manager'
      - '%kernel.project_dir%'

  create_phpstorm_config_command:
    class: SprykerSdk\Sdk\Presentation\Console\Commands\CreatePhpStormConfig
    tags: ['console.command']
    arguments:
      - '@ide.config_manager'
  security_checker_command:
    class: SecurityChecker\Command\SecurityCheckerCommand
    tags: [ 'console.command' ]
  ide.command_mapper:
    class: SprykerSdk\Sdk\Presentation\Ide\PhpStorm\Mapper\CommandMapper
    arguments:
      - '@ide.option_mapper'
      - '@ide.param_mapper'

  ide.option_mapper:
    class: SprykerSdk\Sdk\Presentation\Ide\PhpStorm\Mapper\OptionMapper

  ide.param_mapper:
    class: SprykerSdk\Sdk\Presentation\Ide\PhpStorm\Mapper\ParamMapper

  ide.config_manager:
    class: SprykerSdk\Sdk\Presentation\Ide\PhpStorm\Service\ConfigManager
    arguments:
      - '@ide.command_loader'
      - '@ide.command_xml_formatter'
      - '@xml_encoder'
      - '@setting_repository'

  ide.command_loader:
    class: SprykerSdk\Sdk\Presentation\Ide\PhpStorm\Service\CommandLoader
    arguments:
      - '@console.command_loader'
      - '@ide.command_mapper'
      - '@task_repository'

  ide.command_xml_formatter:
    class: SprykerSdk\Sdk\Presentation\Ide\PhpStorm\Formatter\CommandXmlFormatter

  xml_encoder:
    class: Symfony\Component\Serializer\Encoder\XmlEncoder
    arguments:
      - { xml_format_output: true, xml_root_node_name: framework }
