version: '3'

services:
  spryker-sdk:
    image: spryker/php-sdk-local:${SDK_VERSION:-latest}
    network_mode: "host"
    build:
      context: ./
      dockerfile: ./infrastructure/sdk.local.Dockerfile
      args:
        USER_UID: ${USER_UID}
        SDK_VERSION: ${SDK_VERSION:-latest}
    working_dir: "/project"
    environment:
      SDK_DIR: ${SDK_DIR}
      UNAME_INFO: ${UNAME_INFO}
      EXECUTABLE_FILE_PATH: ${EXECUTABLE_FILE_PATH}
      APP_ENV: prod
      APP_DEBUG: 0
    env_file:
      - infrastructure/.env
    volumes:
      - $PWD:/project:rw
      - ./db:/data/db:rw
      - ./var/log:/data/var/log:rw
      - ./extension:/data/extension:rw
      - ./VERSION:/data/VERSION:rw
      - ./config/packages/workflow.yaml:/data/config/packages/workflow.yaml:rw
      - ~/.ssh:/home/spryker/.ssh:ro
      - ./.gitmodules:/data/.gitmodules:rw
volumes:
  project:
