version: '3.0'

services:
    nginx:
        image: sdk-nginx:${SDK_VERSION:-latest}
        build:
            context: .
            dockerfile: infrastructure/web/nginx.Dockerfile
        ports:
            - ${SDK_REST_API_PORT:-80}:80
        volumes:
            - ./public:/data/public
        depends_on:
            - php-fpm
        restart: always

    php-fpm:
        image: sdk-php-fpm:${SDK_VERSION:-latest}
        build:
            context: .
            dockerfile: infrastructure/web/php-fpm.dev.Dockerfile
            args:
                USER_UID: ${USER_UID}
                SDK_VERSION: ${SDK_VERSION:-latest}
        volumes:
            - ./:/data
        restart: always
        environment:
            SDK_DIR: ${SDK_DIR}
            EXECUTABLE_FILE_PATH: ${EXECUTABLE_FILE_PATH}
            SPRYKER_XDEBUG_HOST_IP: ${SPRYKER_XDEBUG_HOST_IP:-}
            PHP_IDE_CONFIG: ${PHP_IDE_CONFIG:-}
            APP_ENV: dev
            APP_DEBUG: 1

