parameters:
    level: 8
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        -
            message: '#PHPDoc tag @param has invalid value \(\\Monolog\\Formatter\\JsonFormatter::BATCH_MODE_#'
            path: src/Infrastructure/Logger/JsonFormatter.php
