SprykerSdk\Sdk\Infrastructure\Entity\Command:
    type: entity
    repositoryClass: \SprykerSdk\Sdk\Infrastructure\Repository\CommandRepository
    table: sdk_command
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        command:
            type: string
            nullable: false
            unique: false
        type:
            type: string
            nullable: false
            unique: false
        hasStopOnError:
            name: has_stop_on_error
            type: boolean
            default: true
            unique: false
            nullable: false
        tags:
            name: tags
            type: json
            nullable: false
            unique: false
            default: []
        stage:
            type: string
            nullable: false
            unique: false
            name: stage
        errorMessage:
            type: string
            nullable: false
            unique: false
            name: error_message
            default: ''
    oneToOne:
        converter:
            targetEntity: Converter
            cascade: ["persist", "remove"]
            joinColumn:
                name: converter_id
                referencedColumnName: id
                onDelete: CASCADE
        commandSplitter:
            targetEntity: CommandSplitter
            cascade: [ "persist", "remove" ]
            joinColumn:
                name: command_splitter_id
                referencedColumnName: id
                onDelete: CASCADE
