SprykerSdk\Sdk\Infrastructure\Entity\Workflow:
    type: entity
    repositoryClass: \SprykerSdk\Sdk\Infrastructure\Repository\WorkflowRepository
    table: sdk_workflow
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        project:
            type: string
            nullable: false
            unique: false
        workflow:
            type: string
            nullable: false
            unique: false
        code:
            type: string
            nullable: false
            unique: false
        status:
            type: json
            nullable: false
            unique: false
    oneToMany:
        children:
            targetEntity: Workflow
            mappedBy: parent
        events:
            targetEntity: WorkflowEvent
            mappedBy: workflow
    manyToOne:
        parent:
            targetEntity: Workflow
            inversedBy: children
    uniqueConstraints:
        event_user:
            columns:
                - project
                - code
