---
id: "acp:translation:create"
short_description: "Create ACP translation file."
help: ~
stage: build
version: 0.2.0
command: "php %sdk_dir%/vendor/bin/acp app:translation:create %translation-file%"
type: local_cli_interactive
placeholders:
  - name: "%sdk_dir%"
    value_resolver: SDK_DIR
  - name: "%translation-file%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "translation-file"
      option: "translation-file"
      description: "Path to save translation file to"
      type: string
