---
id: "acp:asyncapi:message-add"
short_description: "Create ACP AsyncAPI file."
help: ~
stage: build
version: 0.2.0
command: "php %executable_command% schema:asyncapi:message:add %channel-name% %message-name% %operation-id% %asyncapi-file% %property% %from-transfer-class% %message-type% %add-metadata% -v"
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TASK_TYPE_LOCAL_CLI_INTERACTIVE
placeholders:
  - name: "%executable_command%"
    value_resolver: PRIORITY_PATH
    optional: true
    configuration:
      description: "Executable folder (uses the first existing path)"
      defaultValue: "vendor/bin/asyncapi"
      settingPaths: [ !php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_PROJECT_DIR, !php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_SDK_DIR ]
  - name: '%message-type%'
    value_resolver: STATIC
    optional: false
    configuration:
      alias: 'message-type'
      option: 'message-type'
      choiceValues: ['publish', 'subscribe']
      description: 'Select event type for a message'
  - name: '%add-metadata%'
    value_resolver: FLAG
    optional: true
    configuration:
      alias: 'add-metadata'
      defaultValue: true
      description: 'When this option is set the defined default set of metadata will be added to the message definition'
  - name: "%from-transfer-class%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "from-transfer-class"
      option: "from-transfer-class"
      description: "The Transfer class name from which the message should be created"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
  - name: "%operation-id%"
    value_resolver: STATIC
    optional: false
    configuration:
      alias: "operation-id"
      description: "Operation ID of the message. Operation ID is required for each message"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
  - name: "%message-name%"
    value_resolver: STATIC
    optional: false
    configuration:
      alias: "message-name"
      description: "The message name"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
  - name: "%channel-name%"
    value_resolver: STATIC
    optional: false
    configuration:
      alias: "channel-name"
      description: "Channel name for message"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
  - name: "%asyncapi-file%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "asyncapi-file"
      option: "asyncapi-file"
      description: "Path to save AsyncAPI file to"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
  - name: "%property%"
    value_resolver: STATIC
    optional: false
    configuration:
      alias: "property"
      option: "property"
      description: "When this option is set the property value will be added to the message definition of the specified channel. Example propertyA:valueA [enter for newline] propertyB:valueB"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_ARRAY
