---
id: "acp:app:validate"
short_description: "Create ACP AsyncAPI file."
help: ~
stage: build
version: 0.2.0
command: "php %sdk_dir%/vendor/bin/acp app:validate %manifest-path% %configuration-file% %translation-file% -v"
type: local_cli
placeholders:
  - name: "%sdk_dir%"
    value_resolver: SDK_DIR
  - name: "%manifest-path%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "manifest-path"
      option: "manifest-path"
      description: "Path to save manifest file to"
      type: string
  - name: "%configuration-file%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "configuration-file"
      option: "configuration-file"
      description: "Path to save configuration file to"
      type: string
  - name: "%translation-file%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "translation-file"
      option: "translation-file"
      description: "Path to save translation file to"
      type: string
