---
id: "acp:openapi:generate"
short_description: "Generate ACP OpenAPI code."
help: ~
stage: build
version: 0.2.0
command: "INSTALLED_ROOT_DIRECTORY=%sdk_dir% php %sdk_dir%/vendor/bin/syncapi code:openapi:generate %project-root% %openapi-file% %application-type% %organization% -v"
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TASK_TYPE_LOCAL_CLI_INTERACTIVE
placeholders:
  - name: "%sdk_dir%"
    value_resolver: SDK_DIR
    optional: true
  - name: "%project-root%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "project-root"
      option: "project-root"
      description: "Relative path to project root"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_PATH
  - name: "%openapi-file%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "openapi-file"
      option: "openapi-file"
      description: "Path to OpenAPI file"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
  - name: "%organization%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "organization"
      option: "organization"
      description: "The namespace that will be used for code generation e.g. Pyz"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
  - name: "%application-type%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "application-type"
      option: "application-type"
      description: "Application type e.g. JSON"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
