---
id: "acp:config:create"
short_description: "Create ACP configuration file."
help: ~
stage: build
version: 0.2.0
command: "php %sdk_dir%/vendor/bin/acp app:configuration:create %configuration-file%"
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TASK_TYPE_LOCAL_CLI_INTERACTIVE
placeholders:
  - name: "%sdk_dir%"
    value_resolver: SDK_DIR
    optional: true
  - name: "%configuration-file%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "configuration-file"
      option: "configuration-file"
      description: "Path to save configuration file to"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
