---
id: "validation:php:codestyle-fix"
short_description: "Check your code by running a static code analysis"
help: "You may need to set default phpcs standard before using it. By default uses phpcs.xml from the project root."
stage: build
version: 1.1.2
command: "php -d memory_limit=-1 %executable_command% %severity% %path%"
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TYPE_LOCAL_CLI
optional: true
placeholders:
  - name: "%executable_command%"
    value_resolver: PRIORITY_PATH
    optional: true
    configuration:
      description: "Executable folder (uses the first existing path)"
      defaultValue: "vendor/bin/phpcbf"
      settingPaths: [ !php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_PROJECT_DIR, !php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_SDK_DIR ]
  - name: "%severity%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: 'severity'
      option: 'severity'
      description: 'Severity level of the CodeSniffer'
  - name: "%path%"
    value_resolver: PRIORITY_PATH
    optional: false
    configuration:
      alias: "path"
      description: "Relative path to module directory in project"
      settingPaths: [ !php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_PROJECT_DIR, !php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_SDK_DIR ]
      defaultValue: 'src'
