---
id: "validation:php:codestyle-check"
short_description: "Check your code by running a static code analysis and generate report with violations"
help: "You may need to set default phpcs standard before using it. By default uses phpcs.xml from the project root."
stage: build
version: 1.1.1
command: "php %executable_command% %severity% %report_type% %path% %reportDir%"
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TYPE_LOCAL_CLI
placeholders:
  - name: "%executable_command%"
    value_resolver: PRIORITY_PATH
    optional: true
    configuration:
      description: "Executable folder (uses the first existing path)"
      defaultValue: "vendor/bin/phpcs"
      settingPaths: [ !php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_PROJECT_DIR, !php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_SDK_DIR ]
  - name: "%report_type%"
    value_resolver: STATIC
    optional: true
    configuration:
      option: "report"
      description: "Report Type format"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
      defaultValue: 'json'
  - name: "%path%"
    value_resolver: STATIC
    optional: false
    configuration:
      alias: "path"
      description: "Relative path to module directory in project"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_PATH
      defaultValue: 'src'
  - name: "%reportDir%"
    value_resolver: REPORT_DIR
    optional: true
    configuration:
      option: "report-file"
      description: "Reports directory"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
      settingPaths: [!php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_REPORT_DIR]
      defaultValue: "phpcs.codestyle.json"
  - name: "%severity%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: 'severity'
      option: 'severity'
      description: 'Severity level of the CodeSniffer'
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_INTEGER
      defaultValue: null
report_converter:
    name: CheckstyleViolationReportConverter
    configuration:
        input_file: phpcs.codestyle.json
        producer: phpcs
