---
id: "validation:php:codestyle"
short_description: "Fixes violations and validates your php code using different approaches like codestyle. Generate report in the end."
help: "Fixes violations and validates your php code using different approaches like codestyle. Generate report in the end. By default uses phpcs.xml from the project root."
stage: build
version: 1.0.0
command: ~
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TYPE_TASK_SET
tasks:
  - id: "validation:php:codestyle-fix"
    stop_on_error: false
    placeholder_overrides:
        '%executable_command%':
            name: "%executable_command_codestyle_fix%"
  - id: "validation:php:codestyle-check"
    stop_on_error: false
    placeholder_overrides:
        '%executable_command%':
            name: "%executable_command_codestyle_check%"
placeholders: []
shared_placeholders:
    '%severity%': ~
    '%path%': ~
