---
id: "validation:php:codestyle-fix"
short_description: "Check your code by running a static code analysis"
help: "You may need to set default phpcs standard before using it. By default uses phpcs.xml from the project root."
stage: build
version: 1.0.0
command: "php %executable_command% %severity% %path%"
type: local_cli
optional: true
placeholders:
  - name: "%executable_command%"
    value_resolver: PRIORITY_PATH
    optional: true
    configuration:
      description: "Executable folder (uses the first existing path)"
      defaultValue: "vendor/bin/phpcbf"
      settingPaths: [ "project_dir", "sdk_dir" ]
  - name: "%severity%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: 'severity'
      option: 'severity'
      description: 'Severity level of the CodeSniffer'
  - name: "%path%"
    value_resolver: STATIC
    optional: false
    configuration:
      alias: "path"
      description: "Relative path to module directory in project"
      type: path
      settingPaths: []
      defaultValue: 'src'
