---
id: "validation:php:benchmark"
short_description: "Check your code efficiency by running a benchmark"
help: ~
stage: build
version: 0.1.0
command: "php %executable_command% run %tests% --bootstrap=%bootstrap% %group% %iterations% %revs% %report% %time-unit% %reportDir%"
type: local_cli
optional: false
placeholders:
  - name: "%executable_command%"
    value_resolver: PRIORITY_PATH
    optional: true
    configuration:
      description: "Executable folder (uses the first existing path)"
      defaultValue: "vendor/bin/phpbench"
      settingPaths: [ "project_dir", "sdk_dir" ]
  - name: "%reportDir%"
    value_resolver: REPORT_DIR
    optional: true
    configuration:
      option: "dump-file"
      description: "Reports directory"
      type: string
      settingPaths: ["report_dir"]
      defaultValue: "phpbench.benchmark.xml"
  - name: "%tests%"
    value_resolver: STATIC
    optional: false
    configuration:
      alias: "tests"
      description: "Relative path to tests directory in project"
      type: path
      defaultValue: "tests"
  - name: "%bootstrap%"
    value_resolver: STATIC
    optional: false
    configuration:
      alias: "bootstrap"
      description: "Relative path to bootstrap file in project"
      type: path
      defaultValue: "vendor/autoload.php"
  - name: "%group%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "group"
      option: "group"
      description: "Group to run"
      type: string
  - name: "%iterations%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "iterations"
      option: "iterations"
      description: "Iterations count"
      type: string
      defaultValue: 1
  - name: "%revs%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "revs"
      option: "revs"
      description: "Revolution count"
      type: string
      defaultValue: 1
  - name: "%report%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "report"
      option: "report"
      description: "Report config"
      type: string
      defaultValue: '{"generator":"expression","cols":["benchmark","subject","best","mean","worst","stdev","revs","its"]}'
  - name: "%time-unit%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "time-unit"
      option: "time-unit"
      description: "Time unit"
      type: string
      defaultValue: milliseconds
report_converter:
  name: PhpBenchReportConverter
  configuration:
    input_file: phpbench.benchmark.xml
    producer: phpbench
