---
id: "validation:frontend:prettier"
short_description: "An opinionated code formatter"
help: ~
stage: build
version: 0.2.1
command: "npx --prefix %sdk_dir% prettier %check% %log-level% %path% > %reportDir% 2>&1"
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TYPE_LOCAL_CLI
placeholders:
  - name: "%sdk_dir%"
    value_resolver: SDK_DIR
    optional: true
  - name: '%check%'
    value_resolver: FLAG
    optional: true
    configuration:
      flag: "check"
      description: 'Automatically fixes found problems.'
      defaultValue: true
  - name: "%log-level%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "log-level"
      option: "loglevel"
      description: "What level of logs to report (possible values: log, error, warn)"
      help: "What level of logs to report (possible values: log, error, warn)"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
      defaultValue: 'log'
      choiceValues:
        - log
        - error
        - warn
  - name: "%reportDir%"
    value_resolver: REPORT_DIR
    optional: true
    configuration:
      description: "Reports directory"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
      settingPaths: [!php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_REPORT_DIR]
      defaultValue: "frontend.prettier.log"
  - name: "%path%"
    value_resolver: STATIC
    optional: false
    configuration:
      alias: "path"
      description: "Relative path to module directory in project"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_PATH
      defaultValue: 'src'
report_converter:
  name: PrettierSnifferViolationReportConverter
  configuration:
    input_file: frontend.prettier.log
    producer: prettier
