---
id: "validation:frontend:prettier-fix"
short_description: "An opinionated code formatter"
help: ~
stage: build
version: 0.2.1
command: "npx --prefix %sdk_dir% prettier --write --loglevel=%log_level% %path%"
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TYPE_LOCAL_CLI
placeholders:
  - name: "%sdk_dir%"
    value_resolver: SDK_DIR
    optional: true
  - name: "%path%"
    value_resolver: STATIC
    optional: false
    configuration:
      alias: "path"
      description: "Relative path to module directory in project"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_PATH
      defaultValue: 'src'
  - name: "%log_level%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "log_level"
      description: "What level of logs to report (possible values: log, error, warn)"
      help: "What level of logs to report (possible values: log, error, warn)"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
      defaultValue: log
      choiceValues:
        - log
        - error
        - warn
