---
id: "validation:php:rector"
short_description: "Instant Upgrades and Automated Refactoring"
help: ~
stage: build
version: 0.2.1
command: "php %executable_command% process %path% %config% %is-ansi%"
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TYPE_LOCAL_CLI
optional: false
placeholders:
  - name: "%executable_command%"
    value_resolver: PRIORITY_PATH
    optional: true
    configuration:
      description: "Executable folder (uses the first existing path)"
      defaultValue: "vendor/bin/rector"
      settingPaths: [ !php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_PROJECT_DIR, !php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_SDK_DIR ]
  - name: "%path%"
    value_resolver: STATIC
    optional: false
    configuration:
      alias: "path"
      description: "Relative path to module directory in project"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_PATH
      defaultValue: "src"
  - name: "%config%"
    value_resolver: STATIC
    optional: true
    configuration:
      option: "config"
      alias: "config"
      description: "Path to config file"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
      defaultValue: "architector.php"
  - name: "%is-ansi%"
    value_resolver: FLAG
    optional: true
    configuration:
      alias: "is-ansi"
      flag: "ansi"
      description: "Force ANSI output"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
      defaultValue: true
