---
id: "validation:php:rector"
short_description: "Instant Upgrades and Automated Refactoring"
help: ~
stage: build
version: 0.2.0
command: "php %executable_command% process %path% %config% %is-ansi%"
type: local_cli
placeholders:
  - name: "%executable_command%"
    value_resolver: PRIORITY_PATH
    optional: true
    configuration:
      description: "Executable folder (uses the first existing path)"
      defaultValue: "vendor/bin/rector"
      settingPaths: [ "project_dir", "sdk_dir" ]
  - name: "%path%"
    value_resolver: STATIC
    optional: false
    configuration:
      alias: "path"
      description: "Relative path to module directory in project"
      type: path
      defaultValue: "src"
  - name: "%config%"
    value_resolver: STATIC
    optional: true
    configuration:
      option: "config"
      alias: "config"
      description: "Path to config file"
      type: string
      defaultValue: "architector.php"
  - name: "%is-ansi%"
    value_resolver: FLAG
    optional: true
    configuration:
      alias: "is-ansi"
      flag: "ansi"
      description: "Force ANSI output"
      type: string
      defaultValue: true
