---
id: "validation:scss:codestyle-fix"
short_description: "Fixes violations and validates your scss code"
help: ~
stage: build
version: 0.1.0
command: "node %sdk_dir%/frontend/libs/stylelint.js %fix% %file-path% %config-path% > %reportDir%"
type: local_cli
placeholders:
  - name: "%sdk_dir%"
    value_resolver: SDK_DIR
    optional: true
  - name: '%fix%'
    value_resolver: FLAG
    optional: true
    configuration:
      flag: "fix"
      description: 'Automatically fixes found problems.'
      defaultValue: true
  - name: "%reportDir%"
    value_resolver: REPORT_DIR
    optional: true
    configuration:
      description: "Reports directory"
      type: string
      settingPaths: ["report_dir"]
      defaultValue: "stylelint.codestyle.json"
  - name: "%file-path%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "file-path"
      option: "file-path"
      description: "Execute stylelint only for this file"
      type: string
  - name: "%config-path%"
    value_resolver: STATIC
    optional: true
    configuration:
      alias: "config-path"
      option: "config-path"
      description: "Use this stylelint config instead of default"
      type: string
report_converter:
  name: ScssLinterViolationReportConverter
  configuration:
    input_file: stylelint.codestyle.json
    producer: stylelint
