---
id: "validation:php:security-check"
short_description: "Check your code by running a static code analysis and generate report with violations"
help: ~
stage: build
version: 1.1.0
command: "php %sdk_dir%/bin/console security:check %output-format% > %reportDir%"
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TYPE_LOCAL_CLI
placeholders:
  - name: "%sdk_dir%"
    value_resolver: SDK_DIR
    optional: true
  - name: "%output-format%"
    value_resolver: STATIC
    optional: true
    configuration:
      option: "format"
      description: "Output format"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
      defaultValue: 'json'
  - name: "%reportDir%"
    value_resolver: REPORT_DIR
    optional: true
    configuration:
      description: "Reports directory"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
      settingPaths: [!php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_REPORT_DIR]
      defaultValue: "security.check.json"
report_converter:
  name: SecurityViolationReportConverter
  configuration:
    input_file: security.check.json
    producer: security
