---
id: "spryk:dump"
short_description: "Lists all available Spryks"
version: "0.1.0"
command: "php %executable_command% %spryk% %level%"
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TYPE_LOCAL_CLI
placeholders:
  - name: "%executable_command%"
    value_resolver: PRIORITY_PATH
    optional: true
    configuration:
      description: "Executable folder (uses the first existing path)"
      defaultValue: "vendor/bin/spryk-dump"
      settingPaths: [ !php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_PROJECT_DIR, !php/const SprykerSdk\SdkContracts\Enum\Setting::PATH_SDK_DIR ]
  - name: "%spryk%"
    optional: true
    value_resolver: STATIC
    configuration:
      alias: "spryk"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_STRING
  - name: "%level%"
    optional: true
    value_resolver: STATIC
    configuration:
      defaultValue: 1
      alias: "level"
      option: "level"
      type: !php/const SprykerSdk\SdkContracts\Enum\ValueTypeEnum::TYPE_INT
