parameters:
  env(UNAME_INFO): ''
  uname_info: '%env(uname:UNAME_INFO)%'
  sdk_settings: "%kernel.project_dir%/src/Extension/Resources/config/setting/settings.yaml"

services:
  app_modify_docker_file:
    class: SprykerSdk\Sdk\Extension\Service\AppDockerFileModifier
    arguments:
      - '@yaml_parser'
  app_modify_composer_file:
    class: SprykerSdk\Sdk\Extension\Service\AppComposerFileModifier
  generate_app_change_name_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\ChangeNamesCommand
    arguments:
      - '@app_modify_composer_file'
      - '@app_modify_docker_file'
  check_git_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\CheckGitCommand
  generate_app_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\GenerateAppCommand
  generate_app_change_php_version_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\ChangePhpVersionCommand
    arguments:
      - '@app_modify_composer_file'
      - '@app_modify_docker_file'
  generate_app_allow_default_composer_plugins_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\AllowDefaultComposerPluginCommand
    arguments:
      - '@app_modify_composer_file'
  generate_app_update_dependencies_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\UpdateDependenciesCommand
  add_docker_sdk_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\AddDockerSdkCommand
  check_mutagen_for_mac_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\CheckMutagenCommand
  generate_app_next_steps_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\NextAppStepsCommand
  business_model_arm_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\BusinessModelARMCommand
    arguments:
      - '@yaml_parser'
      - "%kernel.project_dir%"
  check_docker_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\CheckDockerCommand
  docker_init_up_steps_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\DockerInitUpStepsCommand
  generate_app:
    class: SprykerSdk\Sdk\Extension\Task\GenerateAppTask
    tags: [ 'sdk.task' ]
    arguments:
      $commands:
        - '@check_git_command'
        - '@generate_app_command'
        - '@generate_app_change_name_command'
        - '@generate_app_change_php_version_command'
        - '@generate_app_allow_default_composer_plugins_command'
        - '@generate_app_update_dependencies_command'
        - '@add_docker_sdk_command'
        - '@generate_app_next_steps_command'
  clone_business_model_command:
    class: SprykerSdk\Sdk\Extension\Task\Command\CloneBusinessModelRepositoryCommand
  business_model_installer_task:
    class: SprykerSdk\Sdk\Extension\Task\BusinessModelInstallerTask
    tags: [ 'sdk.task' ]
    arguments:
      $commands:
        - '@check_git_command'
#        - '@check_docker_command'
#        - '@check_mutagen_for_mac_command'
        - '@clone_business_model_command'
        - '@add_docker_sdk_command'
        - '@business_model_arm_command'
        - '@docker_init_up_steps_command'
  sdk_directory_value_resolver:
    class: SprykerSdk\Sdk\Extension\ValueResolver\SdkDirectoryValueResolver
    tags: ["sdk.value_resolver"]
    arguments:
      - '@value_receiver'
      - '%kernel.project_dir%'
  pc_system_value_resolver:
    class: SprykerSdk\Sdk\Extension\ValueResolver\PCSystemValueResolver
    tags: [ "sdk.value_resolver" ]
    arguments:
      - '@value_receiver'
      - '%uname_info%'

  app_php_version_value_resolver:
    class: SprykerSdk\Sdk\Extension\ValueResolver\AppPhpVersionValueResolver
    tags: [ 'sdk.value_resolver' ]
    arguments:
      - '@value_receiver'

  remove_report_dir:
    class: SprykerSdk\Sdk\Extension\Task\RemoveRepDirTask
    tags: ["sdk.task"]
    arguments:
      - "@violation_report_repository"
  SprykerSdk\Sdk\Extension\Setting\Initializer\CreateDirectoryInitializer:
    tags: ["sdk.setting_initializer"]
    public: true
  SprykerSdk\Sdk\Extension\Setting\Initializer\ViolationOutputFormatInitializer:
    tags: [ "sdk.setting_initializer" ]
    public: true
  create_directory_initializer:
    alias: SprykerSdk\Sdk\Extension\Setting\Initializer\CreateDirectoryInitializer
    public: true
  violation_output_format_initializer:
    alias: SprykerSdk\Sdk\Extension\Setting\Initializer\ViolationOutputFormatInitializer
    public: true
  SprykerSdk\Sdk\Extension\Setting\Initializer\ProjectUuidInitializer:
    tags: ["sdk.setting_initializer"]
    public: true
    arguments:
      - "@project_setting_repository"
  project_uuid_initializer:
    alias: SprykerSdk\Sdk\Extension\Setting\Initializer\ProjectUuidInitializer
    public: true
  SprykerSdk\Sdk\Extension\Setting\Initializer\ProjectWorkflowInitializer:
    tags: ["sdk.setting_initializer"]
    public: true
    arguments:
      - "@project_setting_repository"
      - "@workflow_repository"
      - "@project_workflow"
  SprykerSdk\Sdk\Extension\Setting\Initializer\QaTasksInitializer:
    tags: [ "sdk.setting_initializer" ]
    public: true
    arguments:
      - "@task_persistence_repository"
  project_workflow_initializer:
    alias: SprykerSdk\Sdk\Extension\Setting\Initializer\ProjectWorkflowInitializer
    public: true
  qa_task_initializer:
    alias: SprykerSdk\Sdk\Extension\Setting\Initializer\QaTasksInitializer
    public: true

  # Transition resolvers
  transition_boolean_resolver:
    class: SprykerSdk\Sdk\Extension\Workflow\TransitionBooleanResolver
    tags: ['workflow.transition_resolver']
  interaction_answer_based_transition_resolver:
    class: SprykerSdk\Sdk\Extension\Workflow\InteractionAnswerBasedTransitionResolver
    arguments:
      - '@cli_interaction_processor'
    tags: [ 'workflow.transition_resolver' ]

  uname_env_var_processor:
    class: SprykerSdk\Sdk\Extension\DependencyInjection\EnvVarProcessor\UnameEnvVarProcessor
    tags: ['container.env_var_processor']
