---
id: 'bye:world'
short_description: 'Bye bye'
help: 'Will greet the one using it'
stage: bye
version: 1.0.0
deprecated: false
successor: 'hello:php'
command: '/bin/echo "bye %world%"'
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TASK_TYPE_LOCAL_CLI
tags: ['bye', 'world']
placeholders:
  - name: '%world%'
    value_resolver: SprykerSdk\Sdk\Extension\ValueResolver\StaticValueResolver
    optional: false
    configuration:
      name: 'world'
      description: 'what is the world?'
      defaultValue: 'World'

