---
id: 'hello:world'
short_description: 'Sends greetings'
help: 'Will greet the one using it'
stage: hello
version: 1.0.1
deprecated: false
successor: 'hello:php'
command: '/bin/echo "hello %world% %somebody%"'
type: !php/const SprykerSdk\SdkContracts\Enum\Task::TYPE_LOCAL_CLI
tags: ['hello', 'world']
placeholders:
  - name: '%world%'
    value_resolver: STATIC
    optional: false
    configuration:
      name: 'world'
      description: 'what is the world?'
      defaultValue: 'World'
  - name: '%somebody%'
    value_resolver: STATIC
    optional: false
    configuration:
      name: 'somebody'
      description: 'Who is somebody'
lifecycle:
  "!php/const SprykerSdk\SdkContracts\Enum\Lifecycle::EVENT_INITIALIZED":
      commands:
        - command: echo "hello world"
          type: !php/const SprykerSdk\SdkContracts\Enum\Task::TYPE_LOCAL_CLI
      files: ~
      placeholders: ~
  "!php/const SprykerSdk\SdkContracts\Enum\Lifecycle::EVENT_UPDATED":
      commands:
        - command: echo "hello world"
          type: !php/const SprykerSdk\SdkContracts\Enum\Task::TYPE_LOCAL_CLI
      files: ~
      placeholders: ~
  "!php/const SprykerSdk\SdkContracts\Enum\Lifecycle::EVENT_REMOVED":
    commands:
      - command: echo "hello world"
        type: !php/const SprykerSdk\SdkContracts\Enum\Task::TYPE_LOCAL_CLI
    files: ~
    placeholders: ~
