name: Docker image build CI - build docker image.

on:
  pull_request:
  push:
    branches:
      - master

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                include:
                    - image: 'infrastructure/sdk.Dockerfile'
                      tags: [ 'php-sdk:latest' ]
                      platforms: [ "linux/amd64" ]
                    - image: 'infrastructure/web/nginx.Dockerfile'
                      tags: [ 'php-sdk-api-nginx:latest' ]
                      platforms: [ "linux/amd64" ]
                    - image: 'infrastructure/web/php-fpm.Dockerfile'
                      tags: [ 'php-sdk-api:latest' ]
                      platforms: [ "linux/amd64" ]
        steps:
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v1

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1

            - name: Build
              id: docker_build
              uses: docker/build-push-action@v2
              with:
                  push: false
                  file: infrastructure/sdk.Dockerfile
                  tags: ${{ join(matrix.tags) }}
                  platforms: ${{ join(matrix.platforms) }}

            - name: Build API
              id: docker_build
              uses: docker/build-push-action@v2
              with:
                  push: false
                  file: infrastructure/web/php-fpm.Dockerfile
                  build-args: SDK_VERSION=latest
                  tags: ${{ join(matrix.tags) }}
                  platforms: ${{ join(matrix.platforms) }}

            - name: Build API server
              id: docker_build
              uses: docker/build-push-action@v2
              with:
                  push: false
                  file: infrastructure/web/nginx.Dockerfile
                  tags: ${{ join(matrix.tags) }}
                  platforms: ${{ join(matrix.platforms) }}
