name: Docker image build CI - build docker image.

on:
  pull_request:
  push:
    branches:
      - master

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                include:
                    - image: 'infrastructure/sdk.Dockerfile'
                      tags: [ 'php-sdk:latest' ]
                      platforms: [ "linux/amd64" ]
        steps:
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v1

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1

            - name: Clean submodules
              run: cat /dev/null > .gitmodules && git submodule update

            - name: Build
              id: docker_build
              uses: docker/build-push-action@v2
              with:
                  push: false
                  file: infrastructure/sdk.Dockerfile
                  tags: ${{ join(matrix.tags) }}
                  platforms: ${{ join(matrix.platforms) }}
