parameters:
  project_log_file: ".ssdk/.ssdk.log"
  project_settings_file: "./.ssdk/settings"
services:
  value_receiver:
    abstract: true
    synthetic: true
  abstract_value_resolver:
    abstract: true
    synthetic: true
    arguments:
      - "@value_receiver"
  task_yaml_loader:
    synthetic: true
  event_logger:
    abstract: true
    synthetic: true
  action_approver:
    abstract: true
    synthetic: true
  setting_repository:
    abstract: true
    synthetic: true
  value_resolver_registry:
    abstract: true
    synthetic: true
  converter_registry:
    abstract: true
    synthetic: true
  placeholder_resolver:
    public: true
    class: SprykerSdk\Sdk\Core\Application\Service\PlaceholderResolver
    arguments:
      - "@project_setting_repository"
      - "@value_resolver_registry"
  converter_resolver:
    public: true
    class: SprykerSdk\Sdk\Core\Application\Service\ConverterResolver
    arguments:
      - "@converter_registry"
  violation_report_merger:
    class: SprykerSdk\Sdk\Core\Application\Service\Violation\ViolationReportMerger
  violation_report_generator:
    class: SprykerSdk\Sdk\Core\Application\Service\Violation\ViolationReportGenerator
    arguments:
      - "@violation_report_merger"
      - "@violation_report_repository"
      - "@converter_resolver"
  violation_report_generator_resolver:
    class: SprykerSdk\Sdk\Core\Application\Service\Violation\ViolationReportGeneratorResolver
    tags: ["report.generator_resolver"]
    arguments:
      - "@violation_report_generator"
  context_serializer:
    class: SprykerSdk\Sdk\Core\Application\Service\ContextSerializer
    arguments:
      - "@report_array_converter_factory"
  context_repository:
    synthetic: true
  task_executor:
    public: true
    class: SprykerSdk\Sdk\Core\Application\Service\TaskExecutor
    arguments:
      - "@placeholder_resolver"
      - "@task_persistence_repository"
      - "@service.command_executor"
      - "@report_generator_factory"
      - "@action_approver"
  project_setting_repository:
    abstract: true
    synthetic: true
  project_setting_manager:
    class: SprykerSdk\Sdk\Core\Application\Service\SettingManager
    arguments:
      - "@project_setting_repository"
      - "@setting_repository"

  service.file_manager:
    class: SprykerSdk\Sdk\Core\Application\Service\FileManager

  lifecycle.initialized_subscriber:
    class: SprykerSdk\Sdk\Core\Application\Lifecycle\Subscriber\InitializedEventSubscriber
    tags: ["kernel.event_subscriber"]
    arguments:
      - "@service.file_manager"
      - "@placeholder_resolver"
      - "@service.lifecycle_command_executor"
      - "@context_factory"

  lifecycle.removed_subscriber:
    class: SprykerSdk\Sdk\Core\Application\Lifecycle\Subscriber\UpdatedEventSubscriber
    tags: ["kernel.event_subscriber"]
    arguments:
      - "@service.file_manager"
      - "@placeholder_resolver"
      - "@service.lifecycle_command_executor"
      - "@context_factory"

  lifecycle.updated_subscriber:
    class: SprykerSdk\Sdk\Core\Application\Lifecycle\Subscriber\RemovedEventSubscriber
    tags: ["kernel.event_subscriber"]
    arguments:
      - "@service.file_manager"
      - "@placeholder_resolver"
      - "@service.lifecycle_command_executor"
      - "@context_factory"

  log_event_action_after_command_executed:
    class: SprykerSdk\Sdk\Core\Application\Service\AfterCommandExecutedAction\LogEventAction
    arguments:
      - "@event_logger"
    tags: ["action.after_command_executed"]
  project_workflow:
    public: true
    shared: false
    class: SprykerSdk\Sdk\Core\Application\Service\ProjectWorkflow
    arguments:
      - "@workflow.registry"
      - "@workflow_repository"
      - "@workflow_transition_repository"
      - "@setting.setting_fetcher"

  context_factory:
    class: SprykerSdk\Sdk\Core\Application\Service\ContextFactory
    arguments:
        - '@default_context_receiver'
        -
  report_generator_factory:
    class: SprykerSdk\Sdk\Core\Application\Service\ReportGeneratorFactory
    arguments:
      - !tagged_iterator report.generator_resolver

  config_processor:
    class: Symfony\Component\Config\Definition\Processor

  violation_report_array_converter:
    class: SprykerSdk\Sdk\Core\Application\Service\Violation\ViolationReportArrayConverter
    tags: ["report.array_converter"]

  report_array_converter_factory:
    class: SprykerSdk\Sdk\Core\Application\Service\ReportArrayConverterFactory
    arguments:
      - !tagged_iterator report.array_converter

  manifest.task_manifest_generator:
      class: SprykerSdk\Sdk\Core\Application\Manifest\Task\TaskManifestGenerator
      arguments:
          - "@manifest.task_manifest_writer"
          - "@manifest.task_template_reader"

  telemetry.event_metadata_factory:
    class: SprykerSdk\Sdk\Core\Application\Telemetry\TelemetryEventMetadataFactory
    arguments:
      - "@project_info_fetcher"
      - "@project_setting_repository"

  telemetry.command_event_synchronizer:
    class: SprykerSdk\Sdk\Core\Application\Telemetry\TelemetryEventsSynchronizer
    arguments:
      - "@telemetry_event_repository"
      - "@telemetry.telemetry_events_sender"
      - "@lock_factory"
      - "%telemetry_synchronizer_batch_size%"
      - "%telemetry_synchronizer_max_sync_attempts%"
      - "%telemetry_synchronizer_max_event_ttl_days%"
      - "%telemetry_synchronizer_lock_ttl_sec%"
      - "%kernel.debug%"
      - "%telemetry_enabled%"

  project_settings_initializer:
      class: SprykerSdk\Sdk\Core\Application\Initializer\ProjectSettingsInitializer
      arguments:
          - "@setting_repository"
          - "@project_setting_manager"
          - "@project_settings_init.initializer"


  version.app_version_fetcher:
    class: SprykerSdk\Sdk\Core\Application\Version\AppVersionFetcher
    arguments:
      - "@version.file_app_version_fetcher"
